.banner {
  height: 320px;
}

.header_bg {
  position: relative;
  top: -220px;
  height: 400px;
  width: 100%;
  background-image: url(../meals.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transform: skewY( -5deg);
}

.mission {
  position: relative;
  top: -290px;
  margin: 0 auto;
  padding: 1rem 0.7rem 0.5rem;
  border-radius: 0.8rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
  text-align: center;
  width: min(85%, 38rem);
  background: var(--bg-mission);
  color: white;
  font-size: 0.85rem;
  font-weight: 300;
}

@media (max-width: 480px) {
  .banner {
    height: 290px;
  }
  .mission {
    top: -310px;
  }
}
