.wrapper {
  position: sticky;
  top: 0;
  z-index: 10;
  background: var(--primary-color);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  padding: 1rem 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.brand {
  font-size: 1.6rem;
  /* letter-spacing: 0.04rem; */
  font-weight: 600;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  align-self: flex-start;
  
}

.checkout {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--secondary-color);
  width: 10rem;
  border-radius: 1rem;
  font-size: 0.9rem;
  text-align: center;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
}

.item_count {
  background: #7f2606;
  padding: 2px 8px;
  margin-top: 4px;
  border-radius: 30%;
  font-weight: 600;
  font-size: 0.8rem;
}
