@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');  

:root {
  --primary-color: #7f2606;
  --secondary-color: #451602;
  --tertiary-color: #ce4e1f;
  --bg-main: #252525;
  --bg-mission: #313131;
  --bg-card: #fff;
}


* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-main);
}

body {
margin: 0;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}



